* {
    font-family: "Press Start 2P", cursive;
}

h1{
    font-size: 40px;
    margin-top: 50px;
    text-align: center;
}

#container{
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.pokemon{
    border: 2px solid red;
    width: 250px;
    display: flex;
    justify-content: center;
    margin: 15px;
    
    
}

.pokemon:hover{
    transition: transform 1s;
    transform:  rotate(720deg);
}